
/* wrap all content */
#wrapper {
    min-width: 960px;
    margin: 0 auto;
}

/* reset bootstrap styles */
.container {
    max-width: none !important;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.btn-warning {
    color: rgb(0,0,0);
    background-color: rgb(238,192,21);
    border-color: rgb(238,192,21);
    font-weight: bold;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: rgb(0,0,0);
  background-color: rgb(238,192,21);
  border-color: rgb(238,192,21);/*255,215,0*/
}

/* header box spacing */
.header-box {
    margin: 30px 0px 20px 0px;
}